.contact-us {
  text-align: center;
  justify-content: center;
}

.bod {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact-details {
  width: 50%;
  margin-left: 10vw;
}

.contact-details p {
  font-size: 1.75vw;
  color: black;
  text-align: left;
  margin-bottom: 5vw;
  width: 80%;
}

.contact-details p span {
  font-size: 1.5vw;
}

.details-form {
  width: 35%;
  margin-right: 10vw;
  text-align: left;
  margin-top: 1.5vw;
}

.details-form label {
  font-size: 1.2vw;
  margin-bottom: 0.5vw;
  display: block;
  text-align: left;
  color: black;
  font-weight: bold;
}

.details-form input,
.details-form textarea {
  width: 100%;
  padding: 1vw 1vw;
  font-size: 1.2vw;
  margin-bottom: 2vw;
  border: 1.5px solid black;
  border-radius: 0.5vw;
  color: black;
}

.details-form button {
  display: inline-block;
  padding: 1vw 2vw;
  background-color: white;
  color: black;
  font-size: 1.2vw;
  font-weight: bold;
  text-decoration: none;
  border: 0.2vw solid black;
  border-radius: 1vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.details-form button:hover {
  background-color: black;
  color: white;
}
