.services {
    text-align: center;
    justify-content: center;
  }

  .line1 {
    margin-top: 6vw;
    margin-bottom: 4vw;
    width: 20vw;
    height: 0.10vw;
    background-color: black;
    margin-left: 10vw;
  }
  
  .slogan {
    width: 55vw;
    text-align: left;
    margin-left: 10vw;
  }
  
  .slogan p {
    font-size: 3.25vw;
    color: black;
    width: 100%;
    margin-bottom: 5vw;
  }
  
  .forma {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    margin-top: 1vw;
  }
  
  .forma label {
    font-size: 1.6vw;
    color: black;
    font-style: italic;
    font-weight: bold;
    margin-left: 20vw;
    align-self: center;
  }
  
  .forma p {
    font-size: 2.25vw;
    color: black;
    width: 40%;
    margin-right: 15vw;
    text-align: left;
  }

  
  .cta {
    width: 50vw;
    text-align: left;
    margin-left: 10vw;
  }
  
  .cta p {
    font-size: 2.25vw;
    color: black;
    width: 100%;
    margin-bottom: 5vw;
  }
  
  .faq-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vw;
    width: 80vw;
    margin-left: 10vw;
  }
  
  .faq {
    width: 90%;
    margin-bottom: 2vw;
    text-align: left;
  }
  
  .faq .question {
    font-size: 1.8vw;
    font-weight: 400;
    margin-bottom: 1vw;
  }
  
  .faq .answer {
    margin-top: 1vw;
    font-size: 1.1vw;
    color: gray;
    line-height: 1.5vw;
  }
  